/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 sept. 2015, 11:24:02
    Author     : Matthieu
*/
 body { 
  color:black;
  background-color: white;
  background-image: url('Accueil.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

html {
    height: 100%;
    width: 100%;
}
.panel_center{
    margin: 0 auto;
}

.mainToolbar{
    background-color: blue;
}

.commandButton{
    
}
