/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 sept. 2015, 11:24:02
    Author     : Matthieu
*/
 body { 
  background-image: url('Accueil.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

html {
    height: 100%;
    width: 100%;
}
.panel_center{
    margin: 0 auto;
}

.mainToolbar{
    background-color: orange;
}

.commandButton{
    vertical-align: top;
    margin-top: 1%;
}

.layoutNorth {
    background-color: gainsboro;
    background-repeat: repeat;
}

.ui-layout-unit .ui-layout-content .ui-layout-pane{
    background-color: gainsboro;
    background-repeat: repeat;
}


.commandButton1 {
    margin-left: 50%;
}

.centeredMenuBar .ui-menubar {
    text-align: center;
}

.menu{
    background-color: #FFDF5F;
}
div.menu{
text-align: center;
}

.menu div.ui-menubar {
text-align: center;
}
.menu .ui-menu-list{
width:99%;
display: inline-flex;

}
div.menu>ul.ui-menu-list>li>a{
width: 99%;
}
div.menu>ul.ui-menu-list>li{
width: 99%;
}
.ui-menuitem-text{
float: none!important;
}